<% flex_direction = (message.user == current_user ? "flex-row-reverse" : "flex-row")%>
  <div class="message-container d-flex w-100 <%= flex_direction %>">
    <% background = (message.user == current_user ? "m-receiver" : "m-sender" )%>
    <div class="message-block <%=background%>">
      <div class="message-user-nickname">
        <i class="author-message">
        <span><%= message.user.first_name %> <%= message.user.last_name %></span>
      </i>
      </div>
      <div class="message-content" id="message-<%= message.id %>">
        <span><%= message.content %></span>
      </div>
      <div class="message-date">
        <i class="author-message">
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
      </div>
    </div>
  </div>


