<h1><%=@room.name %></h1>
<p><%=@room.description%><p>
<p><%=@room.capacity %><p>

<h2>Our gear</h2>
<% @room.items.each do |item| %>
<li><%= item.name %></li>
<% end %>

<br>

<%= "Book #{@room.name} at #{Studio.find(@room.studio_id).name} "%>

<%= simple_form_for [ @room, @booking ] do |f| %>
  <%= f.input :starts_at, :input_html => { :value => DateTime.strptime("27/11/2020 17:00", "%d/%m/%Y %H:%M") } %>
  <%= f.input :duration %>
  <%= f.submit "Book me", class: 'btn btn-primary' %>
<% end %>