<h1><%=@room.name %></h1>
<p><%=@room.description%><p>
<p><%=@room.capacity %><p>

<h2>Our gear</h2>
<% @room.items.each do |item| %>
<li><%= item.name %></li>
<% end %>

<br>

<%= "Book #{@room.name} at #{Studio.find(@room.studio_id).name} "%>

<div class="d-flex p-2 bd-highlight">
<div class="row">
<% @datearray.each do |date| %>
<% if @date == date %>
<div class="col-1 datebox text-center btn red"><%=date%></div>
<% else %>
<div class="col-1 datebox text-center btn"><%= link_to date, new_room_booking_path(@room, date) %></div>
<% end %>
<%end%>
</div>
</div>

<div class="d-flex p-2 bd-highlight">
<div class="row">
<% @timearray.each do |time| %>
<% if Booking.where(date: @date.to_s, time: time).length > 0 %>
<div class="col-1 text-center btn booked">Booked</div>
<% else %>
<div class="col-1 text-center btn timebox"><%=time%></div>
<% end %>
<%end%>
</div>
</div>

<%= simple_form_for [ @room, @booking ] do |f| %>
  <%= f.input :date, as: :string, input_html: { value: params[:format] } %>
  <%= f.input :time, as: :string %>
  <%= f.submit "Book me", class: 'btn btn-primary' %>
<% end %>