<h1><%=@room.name %></h1>
<p><%=@room.description%><p>
<p><%=@room.capacity %><p>

<h2>Our gear</h2>
<% @room.items.each do |item| %>
<li><%= item.name %></li>
<% end %>

<br>

<%= "Book #{@room.name} at #{Studio.find(@room.studio_id).name} "%>

<div class="d-flex p-2 bd-highlight">
<div class="row">
<% @datearray.each do |date| %>
<div class="col-1 datebox text-center btn"><%=date%></div>
<%end%>
</div>
</div>

<div class="d-flex p-2 bd-highlight">
<div class="row">
<% @timearray.each do |time| %>
<div class="col-1 text-center timebox btn"><%=time%></div>
<%end%>
</div>
</div>

<%= simple_form_for [ @room, @booking ] do |f| %>
  <%= f.input :date, as: :string, as: :hidden %>
  <%= f.input :time, as: :string, as: :hidden %>
  <%= f.submit "Book me", class: 'btn btn-primary' %>
<% end %>