<h2>
<%= @booking.date %>
<br>
<%= @booking.time %>
<br>
<%= @booking.user.first_name %>
<br>
<%= @booking.user.last_name %>
<br>
<%= @booking.user.email %>
<br>
<%= @booking.room.name %>
<br>
<%= @booking.room.description %>
<br>
</h2>

<div class="container">
  <h2>Leave a review: </h2>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :rating, wrapper_html: { class: 'fas fa-star' }, collection: 0..5 %>
    <%= f.input :content, as: :text %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>


