
<br>
<br>
<% if Date.today > @booking.date.to_date %>
<h2 class="text-center mb-3">Etes-vous satisfait de votre expérience chez <%=@booking.room.studio.name%>?</h2>
<%else%>
<h2 class="text-center mb-3">Votre réservation chez <%=@booking.room.studio.name%>!</h2>
<%end%>

<div class="d-flex">
<div class="col-4">
        <div class="card-room mb-3">
          <%= link_to room_path(@booking.room) do  %>
              <%= cl_image_tag @booking.room.photo.key, class: "card-studio-img" %>
          <% end %>
          <div class="card-room-infos">
            <div class="studio-name">
             <p><%= @booking.room.studio.name %></p>
            </div>
            <div class="card-room-description">
              <h2><%= link_to @booking.room.name, room_path(@booking.room) %></h2>
              <p class="address"><%= @booking.room.studio.address %></p>
              <p class="description mt-2"><%= @booking.room.description %></p>
              <p class="mt-2 capacity">  Capacité max : <%= @booking.room.capacity %> </p>
            </div>
            <div class="card-room-gears d-flex mt-2">
              <div class="d-flex">
                <i class="fas fa-search"></i>
                <a class="ml-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Matériel
                </a>
              </div>
            </div>
            <div class="collapse" id="collapseExample">
                <p>- Piano</p>
                <p>- Batterie</p>
                <p>- Micro SM-58</p>
            </div>
          </div>
        </div>
   </div>

<div class="col-8">

<div class="booking-card">
<h3>Détails de la réservation</h3>
<p><strong>Date:</strong> <%= @booking.date %></p>
<p><strong>Heure:</strong> <%= @booking.time %></p>
<p><strong>Nom:</strong> <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
<p><strong>Paiement</strong> reçu le 12/11/2020 - Mastercard **** **** **** 2345</p>
</div>

<% if Date.today > @booking.date.to_date %>
<div class="booking-card-review">
  <h2>Donnez votre avis: </h2>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :title, label: "Titre" %>
    <%= f.input :rating, wrapper_html: { class: 'fas fa-star' }, collection: 0..5, label: "Note" %>
    <%= f.input :content, as: :text, label: "Commentaire" %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
  <% end %>
</div>
<%end %>
</div>
</div>


