<h2>
<%= @booking.date %>
<br>
<%= @booking.time %>
<br>
<%= @booking.user.first_name %>
<br>
<%= @booking.user.last_name %>
<br>
<%= @booking.user.email %>
<br>
<%= @booking.room.name %>
<br>
<%= @booking.room.description %>
<br>
</h2>