<h2>
<%= @booking.starts_at %>
<br>
<%= @booking.user.first_name %>
<br>
<%= @booking.user.last_name %>
<br>
<%= @booking.user.email %>
<br>
<%= @booking.room.name %>
<br>
<%= @booking.room.description %>
<br>
</h2>