<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h2>
  <%= link_to "All studios", studios_path %>
</h2>





<h1>Trouver un studio</h1>

<%= simple_form_for :search, url: rooms_path, method: :get  do |f|%>
      <%= f.input :capacity %>
      <%= f.input :address, collection: Studio.all.map{|s| s.address}, placeholder: 'Address'%>
      <%= f.submit "Rechercher", class: 'btn btn-primary' %>
    <% end %>
