<div class="home-background-image">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>BIG PICTURE</p>
</div>



<div class="home-window">
  <h1>A GREAT PLACE TO PLAY</h1>
  <%= simple_form_for :location, url: studios_path, method: :get do |f| %>
  <%= f.input :longitude, input_html: {id: "longitude", class: ""}, label:false%>
  <%= f.input :latitude, input_html: {id: "latitude", class: ""}, label:false %>
  <%= f.input :radius, as: :range, input_html: {value: 5}, label:false %>
  <%= f.submit "Studios near me" %>
  <% end %>
</div>

<div class="search-container">
  <h1>Trouver un studio</h1>

  <%= simple_form_for :search, url: rooms_path, method: :get  do |f|%>
    <div class="search-container-items">
      <%= f.input :address, collection: Studio.all.map{|s| s.address}, placeholder: 'Où souhaitez-vous jouer ?'%>
      <%= f.input :capacity, placeholder: 'Ajoutez des artistes', as: :integer%>
      <%#= f.submit "Rechercher", class: 'btn btn-primary', wrapper_html: { class: 'fas fa-search' } %>
      <%= f.button :submit, class: "btn btn-primary" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
</div>


<!-- <i class="fas fa-search"></i> -->


