<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="home-window">
  <h1>A GREAT PLACE TO PLAY</h1>
  <%= simple_form_for :location, url: studios_path, method: :get do |f| %>
  <%= f.input :longitude, input_html: {id: "longitude", class: ""}, label:false%>
  <%= f.input :latitude, input_html: {id: "latitude", class: ""}, label:false %>
  <%= f.input :radius, as: :range, input_html: {value: 5}, label:false %>
  <%= f.submit "Studios near me" %>
  <% end %>
</div>


<h2>
  <%= link_to "All studios", studios_path %>
</h2>


<div class="container">
  <h1>Trouver un studio</h1>

  <%= simple_form_for :search, url: rooms_path, method: :get  do |f|%>
    <div class="search-container">
      <%= f.input :address, placeholder: 'Où jouez-vous ?'%>
      <%= f.input :capacity, placeholder: 'Ajoutez des artistes', as: :integer%>
      <%= f.submit "Rechercher", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


<!-- <i class="fas fa-search"></i> -->

<!-- , collection: Studio.all.map{|s| s.address} -->

