<br>
<br>
<div class="row">

    <div class="col-3">
    <div class="sticky-top">
    <%= image_tag "https://blog.reverbnation.com/wp-content/uploads/2017/12/why-your-band-needs-to-practice-1500px.jpg", class: "jamimg" %>
    <br>
    <br>
    <h4>Trouver des jamsession</h4>
    <h6>Vous cherchez des musiciens avec qui jouer? Trouvez ici des jam sessions ouvertes, inscrivez-vous, ou alors créez la votre!</h6>
    <br>
    <%= link_to "Créer ma jam", new_jam_path(Date.today), class:"btn btn-primary" %>
    </div>

    </div>

    <div class="col-9">
    <h4>Mes sessions</h4>
    <% @myjams.each do |jam| %>
        <div class="jamcard">
            <div class="row">
            <div class="col-4">
                <% if jam.photo.attached? %>
                <%= cl_image_tag jam.photo.key %>
                <% else %>
                <%= image_tag "https://blog.reverbnation.com/wp-content/uploads/2017/12/why-your-band-needs-to-practice-1500px.jpg" %>
                <% end %>
            </div>
            <div class="col-8 float-left">
            <h5><%="#{jam.name}."%></h5>
            <div class="ownerjam">
            <h6><%="Créateur : #{jam.jams_users[0].user.first_name}"%></h6>
            </div>
            <div class="countjam">
            <h6>
                <%="Inscrits: #{jam.jams_users.count}"%>
                -
                <% jam.jams_users.each do |j| %>
                <%= j.instrument.downcase.strip %> 
                <% end %>
            </h6>
            </div>
            <% if jam.description.length > 240  %>
            <p><%="#{jam.description.first(240)}..."%></p>
            <% else %>
            <p><%="#{jam.description}"%></p>
            <% end %>
                <div class="jamcalendar">
                <div class="row">
                <div class="jam-date"><i class="far fa-calendar"></i><%= " #{I18n.l(jam.date.to_date, :format => :long)}" %></div>
                <div class="jam-date"><i class="far fa-clock"></i><%=" #{jam.time}"%></div>
                </div>
                </div>
            <%= link_to "Voir cette jam", jam_path(jam), class:"btn btn-primary jam-btn" %></h5>
            </div>
            </div>
        </div>
    <% end %>

    <% if @myjams.length == 0 %>
    <div class="nojam">Vous n'avez pas encore de jam!
    </div>
    <br>
    <% end %>

    <h4>Jam sessions ouvertes</h4>
    <% @jams.each do |jam| %>
    <% if jam.groupe == false && jam.jams_users[0].user != current_user && @myjams.include?(jam) == false %>
        <div class="jamcard">
            <div class="row">
                <div class="col-4">
                    <% if jam.photo.attached? %>
                    <%= cl_image_tag jam.photo.key %>
                    <% else %>
                    <%= image_tag "https://blog.reverbnation.com/wp-content/uploads/2017/12/why-your-band-needs-to-practice-1500px.jpg" %>
                    <% end %>
                </div>
            <div class="col-8 float-left">
                <h5><%="#{jam.name}"%></h5>
                <div class="ownerjam">
                <h6><%="Créateur : #{jam.jams_users[0].user.first_name}"%></h6>
                </div>
                <div class="countjam">
                <h6>
                    <%="Inscrits: #{jam.jams_users.count}"%>
                    -
                    <% jam.jams_users.each do |j| %>
                    <%= j.instrument.downcase.strip %> 
                    <% end %>
                </h6>
                </div>
                <% if jam.description.length > 240  %>
                <p><%="#{jam.description.first(240)}..."%></p>
                <% else %>
                <p><%="#{jam.description}"%></p>
                <% end %>
                <div class="jamcalendar">
                <div class="row">
                <div class="jam-date"><i class="far fa-calendar"></i><%= " #{I18n.l(jam.date.to_date, :format => :long)}" %></div>
                <div class="jam-date"><i class="far fa-clock"></i><%=" #{jam.time}"%></div>
                </div>
                </div>
                <%= link_to "Rejoindre cette jam", jam_path(jam), class:"btn btn-primary jam-btn" %></h5>
                </div>
                </div>
        </div>
    <% end %>
    <% end %>
    </div>
</div>




