<div class="d-flex m-0 mt-5">
  <div class="filter">
    <h5>Filtrer par :</h5>
    <div>
      <%= simple_form_for :search, url: rooms_path, method: :get  do |f|%>
        <%= f.input :address, label: "Adresse", placeholder: 'Où jouer ?', required: false%>
        <%= f.input :capacity, label: "Artistes", input_html: { min: 1 }, placeholder: 'Ajouter', as: :numeric, required: false%>
        <%= f.input :item, label: "Instrument", collection: Item.all.map{|s| s.name}, wrapper_html: { class: 'choose-instrument' }, prompt: "Sélectionner", required: false %>
        <%= f.submit "Rechercher", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="tags-filter">
      <% @tags.each do |tag|%>
        <div class="tag-filter">
          <%= tag %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="cards-rooms">
    <% @rooms.each do |room| %>
        <div class="card-room card-room-index">
          <%= link_to new_room_booking_path(room, Date.today) do  %>
             <%= cl_image_tag room.photo.key, class: "card-studio-img" %>
          <% end %>
          <div class="card-room-infos">
            <div class="studio-name">
             <p><%= room.studio.name %></p>
            </div>
            <div class="card-room-description">
              <h2><%= link_to room.name, new_room_booking_path(room, Date.today) %></h2>
              <p class="address"><%= room.studio.address %></p>
              <p class="description mt-2"><%= room.description %></p>
              <p class="mt-2 capacity">  Capacité max : <%= room.capacity %> </p>
            </div>
            <div class="card-room-gears d-flex mt-2">
              <div class="d-flex">
                <i class="fas fa-search"></i>
                <a class="ml-2" data-toggle="collapse" href="#collapseExample-<%=room.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Matériel
                </a>
              </div>
              <div class="btn btn-primary btn-musicnow">
                <%= link_to "Réserver ce studio", new_room_booking_path(room, Date.today) %>
              </div>
            </div>
            <div class="collapse" id="collapseExample-<%=room.id%>">
              <% room.items.each do |item| %>
                <p>- <%= item.name %></p>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

