<br>
<h1>Find a studio</h1>
<br>

<div class="d-flex m-0">
  <div class="cards-studios">
    <% @studios.each do |studio| %>
      <div class="card-studio">
        <div class= "card-studio-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),)">
          <%if studio.photo.attached? %>
            <%= link_to studio_path(studio) do %>
              <%= cl_image_tag studio.photo.key, class: "card-studio-img" %>
            <% end %>
          <% else %>
            <div class="card-studio-img" style="background-image: url('http://www.studiobleu.com/wp-content/uploads/2015/06/20181221-INDIGO-02.jpg')">
            </div>
          <% end %>
        </div>
        <div class="card-studio-infos">
          <h2> <%= studio.name %> </h2>
          <p class="address"> <%= studio.address %> </p>
          <p class="description mt-2"> <%= studio.description.first(100) %>... </p>
          <p> <%= link_to "See this studio", studio_path(studio), class: "btn btn-primary" %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-container-studios d-flex ml-4 flex-column">
    <div id="map"
      style="width: 600px; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="radius-graduation">
      <div id="graduation">
        Rayon de <span><%= @radius %></span>km
      </div>
      <div class="radius">
        <%= simple_form_for :location, url: studios_path, method: :get do |f| %>
          <%= f.input :longitude, input_html: {id: "longitude", value: @longitude, class: "d-none"}, label:false%>
          <%= f.input :latitude, input_html: {id: "latitude", value: @latitude, class: "d-none"}, label:false %>
          <%= f.input :radius, required: false, as: :range, input_html: {min: "0", max: "30", step: "5", value: @radius}, label:false %>
          <%= f.submit "Envoyer", class: "d-none" %>
        <% end %>
        <%#= simple_form_for :location, url: studios_path, method: :get do |f| %>
          <%#= f.input :longitude, input_html: {id: "longitude", value: @longitude, class: ""}, label:false%>
          <%#= f.input :latitude, input_html: {id: "latitude", value: @latitude, class: ""}, label:false %>
          <%#= f.input :radius, as: :radio_buttons, collection: [5, 10, 15, 20], input_html: {value: @radius}, wrapper: :vertical_collection_inline, label: "Rayon" %>
          <%#= f.submit "Envoyer" %>
        <%# end %>
      </div>
    </div>
  </div>

</div>


<h2>
  <%= link_to "Home page", root_path %>
</h2>
