<h1>studio</h1>

<% @studios.each do |studio| %>
  <h3> <%= link_to studio.name, studio_path(studio) %> </h3>
  <h5> <%= studio.address %> </h5>
  <p> <%= studio.description %> </p>
<% end %>

<div class="container">
  <h1>Creation studio card</h1>

  <div class="card-studio">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-studio-infos">
      <h2>Studio name</h2>
      <p>14 allee des genets</p>
      <p>Studio description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>


<h2>
  <%= link_to "Home page", root_path %>
</h2>


<h1>Room cards</h1>
<div class="cards ">
  <%#= link_to do,  %>
  <%# end %>
  <div class="card-room">
    <img src="" alt="">
    <div class="description">
      <h1>Studio Name</h1>
      <p>Adress</p>
      <p>Paragraph</p>
    </div>
    <div class="gear details">
      <i class="fas fa-search"></i>
      <p>Gear details</p>
    </div>
    <div>
      <%= link_to "Book this room" %>
    </div>
  </div>
</div>

