
<div class="hero-studio">
  <% if @studio.photo.attached? %>
  <%= cl_image_tag @studio.photo.key, class: "hero-studio-img" %>
  <% end %>
  <h1 class="hero-studio-title"> <%= @studio.name %></h1>
</div>
<div class="container">
  <div class="hero-card float-right">
    <div class="row">
      <span class="fas fa-phone"></span>
        <p>0142546882</p>
    </div>
    <div class="row">
      <i class="fas fa-at"></i>
      <p><a href="" style="color: white">www.studio.com</a></p>
    </div>
    <div class="row">
      <i class="fas fa-envelope"></i>
      <p>studio@studio.fr</p>
    </div>
    <div class="row">
      <i class="fas fa-map-marker"></i>
      <p> <%=@studio.address%></p>
    </div>
  </div>
  <br>
  <%=  link_to "< Nos studios", studios_path %>

  <div class="studio-desc">
    <p><%= @studio.description %></p>
  </div>
  <br>
  <div class="filtres">
    <h2>Les salles</h2>
  </div>
  <div class="cards-rooms">
    <% @studio.rooms.each do |room| %>
        <div class="card-room">
          <div class= "card-room-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),)">
            <%= link_to room_path(room) do  %>
              <%if room.photo.attached? %>
                <%= link_to room_path(@studio) do %>
                <%= cl_image_tag room.photo.key, class: "card-studio-img" %>
                <% end %>
              <% else %>
                <div class="card-studio-img" style="background-image: url('http://www.studiobleu.com/wp-content/uploads/2015/06/20181221-INDIGO-02.jpg')">
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="card-room-infos">
            <div class="studio-name">
             <p><%= room.studio.name %></p>
            </div>
            <div class="card-room-description">
              <h2><%= link_to room.name, new_room_booking_path(room, Date.today) %></h2>
              <p class="address"><%= room.studio.address %></p>
              <p class="description mt-2"><%= room.description %></p>
              <p class="mt-2 capacity">  Capacité max : <%= room.capacity %> </p>
            </div>
            <div class="card-room-gears d-flex mt-2">
              <div class="d-flex">
                <i class="fas fa-search"></i>
                <a class="ml-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Matériel
                </a>
              </div>
              <div class="btn btn-primary btn-musicnow">
                <%= link_to "Réserver", new_room_booking_path(room, Date.today) %>
              </div>
            </div>
            <div class="collapse" id="collapseExample">
                <p>- Piano</p>
                <p>- Batterie</p>
                <p>- Micro SM-58</p>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <h2><%= pluralize @studio.reviews.size, "avis"%></h2>
  <% @studio.reviews.each do |review| %>
    <div class="review">
      <% if review.booking.room.studio == @studio %>
        <h4><p><strong><%= review.title %></strong></p></h4>
          <p><% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %></p>
        <p><%= review.content %></p>
        <div class="author">
          <p><%= review.user.email %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<br>
<br>


