
<h1> <%= @studio.name %></h1>
<p><%= @studio.description %></p>

<div class="d-flex">
  <div class="filtres">
    <h2>Filtres</h2>
    <div>
      <p>BLABLABLABLABLABLABLABLABLABLABLA</p>
    </div>
  </div>
  <div class="cards-rooms">
    <% @studio.rooms.each do |room| %>
        <div class="card-room mb-3">
          <%= link_to room_path(room) do  %>
             <img src="" alt="">
          <% end %>
          <div class="card-room-infos">
            <div class="studio-name">
             <p><%= room.studio.name %></p>
            </div>
            <div class="card-room-description">
              <h2><%= link_to room.name, room_path(room) %></h2>
              <p class="address"><%= room.studio.address %></p>
              <p class="description mt-2"><%= room.description %></p>
              <p class="mt-2">  Capacité max : <%= room.capacity %> </p>
            </div>
            <div class="card-room-gears d-flex mt-2">
              <div class="d-flex">
                <i class="fas fa-search"></i>
                <a class="btn btn-link" href="#" data-toggle="collapse" data-target="#target1">
                  Matériel
                </a>
              <div id="target1" class="collapse">
                 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
              </div>
              </div>
              <div class="btn btn-primary btn-musicnow">
                <%= link_to "Réserver ce studio", new_room_booking_path(room) %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<h3> <%=  link_to "back", studios_path %> </h3>
