<h1> <%= @studio.name %></h1>
<p><%= @studio.description %></p>

<h1>Room cards</h1>
<div>
  <% @studio.rooms.each do |room| %>
    <h4><%= link_to room.name, room_path(@studio) %></h4>
    <p><%= room.description %></p>
    <p>  Capacitée : <%= room.capacity %> </p>
  <% end %>
</div>

<h3> <%=  link_to "back", studios_path %> </h3>


<div class="cards-rooms">
  <%#= link_to do,  %>
  <%# end %>
  <div class="card-room">
    <img src="" alt="">
    <div class="description">
      <h1>Studio Name</h1>
      <p>Adress</p>
      <p>Paragraph</p>
    </div>
    <div class="gear details">
      <i class="fas fa-search"></i>
      <p>Gear details</p>
    </div>
    <div>
      <%= link_to "Book this room" %>
    </div>
  </div>
</div>
